<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="common/top::top" />
    <h2 th:text="#{label.tr.searchtour.searchTourMessage}" />
    <div class="panel panel-info">
        <div th:utext="#{label.tr.searchtour.searchTourFlowMessage}"/>
        <div th:utext="#{label.tr.searchtour.searchTourInstructionsMessage}"/>
    </div>

    <h3 th:text="#{label.tr.searchtour.SearchCriteriaTourMessage}"/>

    <form class="form-horizontal" th:action="@{/tours/search}" th:object="${tourForm}" method="get">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <ul>
                <li th:each="e : ${#fields.detailedErrors()}" th:text="${e}" />
            </ul>
        </div>
        <div class="form-group">
            <label for="depYear" class="col-sm-2 control-label" th:text="#{label.tr.common.depDate}" />
            <div class="col-sm-10">
                <p>
                    <select id="depYear" name="depYear" th:field="*{depYear}" th:errorclass="fieldError">
                        <option th:each="m : ${CL_DEP_YEAR}" th:value="${m.key}" th:text="${m.value}"></option>
                    </select>
                    <span th:text="#{label.tr.common.year}" />
                    <select name="depMonth" th:field="*{depMonth}" th:errorclass="fieldError">
                        <option th:each="m : ${CL_MONTH}" th:value="${m.key}" th:text="${m.value}"></option>
                    </select>
                    <span th:text="#{label.tr.common.month}" />
                    <select name="depDay" th:field="*{depDay}" th:errorclass="fieldError">
                        <option th:each="m : ${CL_DAY}" th:value="${m.key}" th:text="${m.value}"></option>
                    </select>
                    <span th:text="#{label.tr.common.day}" />
                </p>
                <p>
                    (<span th:text="#{label.tr.searchtour.depDateRestrictMessage}" />)
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="tourDays" class="col-sm-2 control-label" th:text="#{label.tr.common.tourDays}" />
            <div class="col-sm-10">
                <select id="tourDays" name="tourDays" th:field="*{tourDays}" th:errorclass="fieldError">
                    <option th:each="m : ${CL_TOUR_DAYS}" th:value="${m.key}" th:text="${m.value}" />
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="depPlace" class="col-sm-2 control-label" th:text="#{label.tr.common.depPlace}" />
            <div class="col-sm-10">
                <select id="depPlace" name="depCode" th:field="*{depCode}" th:errorclass="fieldError">
                    <option value="" th:text="#{label.tr.searchtour.placeMessage}" />
                    <option th:each="m : ${CL_PREF}" th:value="${m.key}" th:text="${m.value}" />
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="arrPlace" class="col-sm-2 control-label" th:text="#{label.tr.common.arrPlace}" />
            <div class="col-sm-10">
                <select id="arrPlace" name="arrCode" th:field="*{arrCode}" th:errorclass="fieldError">
                    <option value="" th:text="#{label.tr.searchtour.placeMessage}" />
                    <option th:each="m : ${CL_PREF}" th:value="${m.key}" th:text="${m.value}" />
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="arrPlace" class="col-sm-2 control-label" th:text="#{label.tr.common.persons}" />
            <div class="col-sm-10">
                <p>
                    <span th:text="#{label.tr.common.adult}" />
                    <select name="adultCount" th:field="*{adultCount}" th:errorclass="fieldError">
                        <option th:each="m : ${CL_ADULT_COUNT}" th:value="${m.key}" th:text="${m.value}" />
                    </select>
                    <span th:text="#{label.tr.common.person}" />
                </p>
                <p>
                    <span th:text="#{label.tr.common.child}" />
                    <select name="childCount" th:field="*{childCount}" th:errorclass="fieldError">
                        <option th:each="m : ${CL_CHILD_COUNT}" th:value="${m.key}" th:text="${m.value}" />
                    </select>
                    <span th:text="#{label.tr.common.person}" />
                </p>
                <p>
                    (<span th:text="#{label.tr.searchtour.personsRestrictMessage}" />)
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="basePrice" class="col-sm-2 control-label" th:text="#{label.tr.common.basePrice}" />
            <div class="col-sm-10">
                <select id="basePrice" name="basePrice" th:field="*{basePrice}" th:errorclass="fieldError">>
                    <option th:each="m : ${CL_BASE_PRICE}" th:value="${m.key}" th:text="${m.value}" />
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" th:text="#{label.tr.common.search}" />
            </div>
        </div>
    </form>


    <div th:if="${page}">
        <hr/>
        <div class="alert alert-warning" role="alert" th:text="#{label.tr.searchtour.resultCountMessage(${page.totalElements})}" />
        <div class="text-center">
            <div th:replace="tours/pagination::pagination" />
        </div>
    </div>

    <table th:if="${page}" class="table table-striped">
        <caption th:text="#{label.tr.searchtour.searchTourResultMessage}" />
        <thead>
            <tr>
                <td th:text="#{label.tr.common.idx}" />
                <td th:text="#{label.tr.common.tourName}" />
                <td th:text="#{label.tr.common.depDate}" />
                <td th:text="#{label.tr.common.tourDays}" />
                <td th:text="#{label.tr.common.depPlace}" />
                <td th:text="#{label.tr.common.arrPlace}" />
                <td th:text="#{label.tr.common.basePrice}" />
            </tr>
        </thead>
        <tbody>
            <tr th:each="tour,status : ${page.content}">
                <td th:text="${page.size * page.number + status.count}" />
                <td>
                    <a href="tours" th:href="@{'/tours/' + ${tour.tourCode} + '/reserve'(
                       form,
                       adultCount=${form.adultCount},
                       arrCode=${form.arrCode},
                       basePrice=${form.basePrice},
                       childCount=${form.childCount},
                       depCode=${form.depCode},
                       depDay=${form.depDay},
                       depMonth=${form.depMonth},
                       depYear=${form.depYear},
                       tourDays=${form.tourDays},
                       page=${page.number},
                       size=${page.size}
                    )}" th:text="${tour.tourName}" />
                </td>
                <td th:text="${#dates.format(tour.depDay, #messages.msg('label.tr.common.datePattern'))}" />
                <td th:text="${tour.tourDays}" />
                <td th:text="${tour.departure.depName}" />
                <td th:text="${tour.arrival.arrName}" />
                <td th:text="${#numbers.formatInteger(tour.basePrice, 3, 'COMMA') + '円'}" />
            </tr>
        </tbody>
    </table>

    <div th:if="${page}">
        <div class="text-center">
            <div th:replace="tours/pagination::pagination" />
        </div>
    </div>
</div>
</body>
</html>
