<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>ツアー予約システム</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/tours/search}" th:object="${tourForm}" method="get">
        出発日
        <select name="depYear" th:field="*{depYear}" th:errorclass="fieldError">
            <option th:each="m : ${CL_DEP_YEAR}" th:value="${m.key}" th:text="${m.value}"></option>
        </select>年
        <select name="depMonth" th:field="*{depMonth}" th:errorclass="fieldError">
            <option th:each="m : ${CL_MONTH}" th:value="${m.key}" th:text="${m.value}"></option>
        </select>月
        <select name="depDay" th:field="*{depDay}" th:errorclass="fieldError">
            <option th:each="m : ${CL_DAY}" th:value="${m.key}" th:text="${m.value}"></option>
        </select>日<br/>
        日数
        <select name="tourDays" th:field="*{tourDays}" th:errorclass="fieldError">
            <option th:each="m : ${CL_TOUR_DAYS}" th:value="${m.key}" th:text="${m.value}"></option>
        </select><br/>
        出発地
        <select name="depCode" th:field="*{depCode}" th:errorclass="fieldError">
            <option th:each="m : ${CL_PREF}" th:value="${m.key}" th:text="${m.value}"></option>
        </select><br/>
        目的地
        <select name="arrCode" th:field="*{arrCode}" th:errorclass="fieldError">>
            <option th:each="m : ${CL_PREF}" th:value="${m.key}" th:text="${m.value}"></option>
        </select><br/>
        人数<br/>
        大人
        <select name="adultCount" th:field="*{adultCount}" th:errorclass="fieldError">
            <option th:each="m : ${CL_ADULT_COUNT}" th:value="${m.key}" th:text="${m.value}"></option>
        </select>人<br/>
        子供人
        <select name="childCount" th:field="*{childCount}" th:errorclass="fieldError">
            <option th:each="m : ${CL_CHILD_COUNT}" th:value="${m.key}" th:text="${m.value}"></option>
        </select>人<br/>
        基本料金
        <select name="basePrice" th:field="*{basePrice}" th:errorclass="fieldError">>
            <option th:each="m : ${CL_BASE_PRICE}" th:value="${m.key}" th:text="${m.value}"></option>
        </select><br/>
        <button>検索</button>
    </form>

    <div th:if="${page}">
        <ul>
            <li>
                <a href="tours" th:href="@{/tours/search(page='0', size=${page.size},
                   adultCount=${form.adultCount},
                   arrCode=${form.arrCode},
                   basePrice=${form.basePrice},
                   childCount=${form.childCount},
                   depCode=${form.depCode},
                   depDay=${form.depDay},
                   depMonth=${form.depMonth},
                   depYear=${form.depYear},
                   tourDays=${form.tourDays}
                )}">&lt;&lt;</a>
            </li>
            <li>
                <a href="tours" th:href="@{/tours/search(page=${page.number - 1}, size=${page.size},
                   adultCount=${form.adultCount},
                   arrCode=${form.arrCode},
                   basePrice=${form.basePrice},
                   childCount=${form.childCount},
                   depCode=${form.depCode},
                   depDay=${form.depDay},
                   depMonth=${form.depMonth},
                   depYear=${form.depYear},
                   tourDays=${form.tourDays}
                )}">&lt;</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                <a href="tours" th:href="@{/tours/search(page=${i}, size=${page.size},
                   adultCount=${form.adultCount},
                   arrCode=${form.arrCode},
                   basePrice=${form.basePrice},
                   childCount=${form.childCount},
                   depCode=${form.depCode},
                   depDay=${form.depDay},
                   depMonth=${form.depMonth},
                   depYear=${form.depYear},
                   tourDays=${form.tourDays}
                )}" th:text="${i + 1}">0</a>
            </li>
            <li>
                <a href="tours" th:href="@{/tours/search(page=${page.number + 1}, size=${page.size},
                   adultCount=${form.adultCount},
                   arrCode=${form.arrCode},
                   basePrice=${form.basePrice},
                   childCount=${form.childCount},
                   depCode=${form.depCode},
                   depDay=${form.depDay},
                   depMonth=${form.depMonth},
                   depYear=${form.depYear},
                   tourDays=${form.tourDays}
                )}">&gt;</a>
            </li>
            <li>
                <a href="tours" th:href="@{/tours/search(page=${page.totalPages - 1}, size=${page.size},
                   adultCount=${form.adultCount},
                   arrCode=${form.arrCode},
                   basePrice=${form.basePrice},
                   childCount=${form.childCount},
                   depCode=${form.depCode},
                   depDay=${form.depDay},
                   depMonth=${form.depMonth},
                   depYear=${form.depYear},
                   tourDays=${form.tourDays}
                )}">&gt;&gt;</a>
            </li>
        </ul>
    </div>

    <table th:if="${page}">
        <thead>
            <tr>
                <td>連番</td>
                <td>ツアー名</td>
                <td>出発日</td>
                <td>日数</td>
                <td>出発地</td>
                <td>目的地</td>
                <td>基本料金</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tour,status : ${page.content}">
                <td th:text="${status.count}">連番</td>
                <td th:text="${tour.tourName}">ツアー名</td>
                <td th:text="${#dates.format(tour.depDay, 'yyyy年MM月dd日')}">出発日</td>
                <td th:text="${tour.tourDays}">日数</td>
                <td th:text="${tour.departure.depName}">出発地</td>
                <td th:text="${tour.arrival.arrName}">目的地</td>
                <td th:text="${#numbers.formatInteger(tour.basePrice, 3, 'COMMA') + '円'}">基本料金</td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>
