<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="2">ツアー詳細情報</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ツアー名</td>
            <td th:text="${output.tourinfo.tourName}">ツアー名</td>
        </tr>
        <tr>
            <td>出発日</td>
            <td th:text="${output.tourinfo.depDay}">出発日</td>
        </tr>
        <tr>
            <td>日数</td>
            <td th:text="${output.tourinfo.tourDays}">日数</td>
        </tr>
        <tr>
            <td>出発地</td>
            <td th:text="${output.tourinfo.departure.depName}">出発地</td>
        </tr>
        <tr>
            <td>目的地</td>
            <td th:text="${output.tourinfo.arrival.arrName}">目的地</td>
        </tr>
        <tr>
            <td>添乗員</td>
            <td th:text="${output.tourinfo.conductor}">添乗員</td>
        </tr>
        <tr>
            <td>宿泊施設</td>
            <td th:text="${output.tourinfo.accommodation.accomName}">宿泊施設</td>
        </tr>
        <tr>
            <td>連絡先</td>
            <td th:text="${output.tourinfo.accommodation.accomTel}">連絡先</td>
        </tr>
        <tr>
            <td>概要</td>
            <td th:text="${output.tourinfo.tourAbs}">概要</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="4">料金明細</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>年齢区分</td>
            <td>単価</td>
            <td>人数</td>
            <td>料金</td>
        </tr>
        <tr>
            <td>大人</td>
            <td th:text="${#numbers.formatInteger(output.priceCalculateOutput.adultUnitPrice, 3, 'COMMA') + '円'}">単価</td>
            <td th:text="${output.priceCalculateOutput.adultCount + '人'}">人数</td>
            <td th:text="${#numbers.formatInteger(output.priceCalculateOutput.adultPrice, 3, 'COMMA') + '円'}">料金</td>
        </tr>
        <tr>
            <td>子ども</td>
            <td th:text="${#numbers.formatInteger(output.priceCalculateOutput.childUnitPrice, 3, 'COMMA') + '円'}">単価</td>
            <td th:text="${output.priceCalculateOutput.childCount + '人'}">人数</td>
            <td th:text="${#numbers.formatInteger(output.priceCalculateOutput.childPrice, 3, 'COMMA') + '円'}">料金</td>
        </tr>
        <tr>
            <td colspan="3">合計料金</td>
            <td th:text="${#numbers.formatInteger(output.priceCalculateOutput.sumPrice, 3, 'COMMA') + '円'}">合計料金</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>