<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">

    <div layout:include="common/top" />
    <h2 th:text="#{label.tr.searchtour.titleDetailScreenMessage}" />
    <div class="panel panel-info">
        <div th:utext="#{label.tr.searchtour.detailScreenFlowMessage}"/>
    </div>

    <div sec:authorize="!hasRole('ROLE_USER')" th:utext="#{label.tr.searchtour.loginToReserveMessage}" />
    <div sec:authorize="hasRole('ROLE_USER')" th:utext="#{label.tr.searchtour.pressReserveBtnMessage}" />

    <table class="table table-striped" th:object="${output.tourinfo}">
        <thead>
        <tr>
            <th colspan="2" th:text="#{label.tr.searchtour.tourDetailCaptionMessage}" />
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="#{label.tr.searchtour.tourname}" />
            <td th:text="*{tourName}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.depDay}" />
            <td th:text="*{depDay}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.tourDays}" />
            <td th:text="*{tourDays}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.depName}" />
            <td th:text="*{departure.depName}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.arrName}" />
            <td th:text="*{arrival.arrName}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.conductor}" />
            <td th:text="*{conductor}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.accomName}" />
            <td th:text="*{accommodation.accomName}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.accomTel}" />
            <td th:text="*{accommodation.accomTel}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.tourAbs}" />
            <td th:text="*{tourAbs}" />
        </tr>
        </tbody>
    </table>

    <table class="table table-striped" th:object="${output.priceCalculateOutput}">
        <thead>
        <tr>
            <th colspan="4" th:text="#{label.tr.searchtour.statementOfCharges}" />
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="#{label.tr.searchtour.classificationOnAge}" />
            <td th:text="#{label.tr.searchtour.unitPrice}" />
            <td th:text="#{label.tr.searchtour.noOfPeople}" />
            <td th:text="#{label.tr.searchtour.charge}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.adult}" />
            <td th:text="*{#numbers.formatInteger(adultUnitPrice, 3, 'COMMA') + '円'}" />
            <td th:text="*{adultCount + '人'}" />
            <td th:text="*{#numbers.formatInteger(adultPrice, 3, 'COMMA') + '円'}" />
        </tr>
        <tr>
            <td th:text="#{label.tr.searchtour.child}" />
            <td th:text="*{#numbers.formatInteger(childUnitPrice, 3, 'COMMA') + '円'}" />
            <td th:text="*{childCount + '人'}" />
            <td th:text="*{#numbers.formatInteger(childPrice, 3, 'COMMA') + '円'}" />
        </tr>
        <tr>
            <td colspan="3" th:text="#{label.tr.searchtour.sumPrice}" />
            <td th:text="*{#numbers.formatInteger(sumPrice, 3, 'COMMA') + '円'}" />
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>