<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">

    <div th:replace="common/top::top" />

    <h1 th:text="#{label.tr.managereservation.manageReservationConfirmScreenTitleMessage}" />
    <div class="panel panel-info">
        <span th:utext="#{label.tr.managereservation.manageReservationConfirmScreenFlowMessage}" />
    </div>
    <p th:utext="#{label.tr.managereservation.manageReservationConfirmDetailMessage}" />

    <div th:replace="common/fragment/reservation::reservation" />

    <div th:replace="common/fragment/price::price" />

    <table class="table table-striped" >
        <caption th:text="#{label.tr.common.specialNotes}" />
        <tr>
            <td th:text="#{label.tr.common.opinionSuggestion}" />
            <td th:text="${output.reserve.remarks}" />
        </tr>
    </table>

    <div th:utext="#{label.tr.managereservation.manageReservationConfirmCautionMessage}" />

    <div th:replace="common/fragment/payment::payment" />

    <div th:utext="#{label.tr.managereservation.manageReservationConfirmMessage}" />

    <form th:action="${#httpServletRequest.requestURI}" method="post">
        <input type="hidden" name="adultCount" th:value="${output.priceCalculateOutput.adultCount}" />
        <input type="hidden" name="childCount" th:value="${output.priceCalculateOutput.childCount}" />
        <button name="redo" class="btn btn-default" th:text="#{label.tr.managereservation.changeReservationStaBtnMessage}" />
        <button class="btn btn-default" th:text="#{label.tr.managereservation.changeReservationFinBtnMessage}" />
    </form>
</div>
</body>
</html>