<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-info" role="alert">
        <span sec:authorize="!hasRole('ROLE_USER')" th:text="#{label.tr.common.notLoginMessage}" />
        <span th:text="#{label.tr.menu.menuMessage}" />
    </div>
    <div>
        <ul>
            <li>
                <a th:href="@{tours(initForm)}" th:text="#{label.tr.menu.searchBtnMessage}" />
                <div th:utext="#{label.tr.menu.tourSearchMessage}" />
            </li>
        </ul>
    </div>
    <div sec:authorize="!hasRole('ROLE_USER')">
        <ul>
            <li>
                <a th:href="@{login}" th:text="#{label.tr.menu.loginBtnMessage}" />
                <div th:utext="#{label.tr.menu.loginMessage}" />
            </li>
            <li>
                <a th:href="@{customers/create(form)}" th:text="#{label.tr.menu.customerRegisterBtnMessage}" />
                <div th:utext="#{label.tr.menu.customerRegisterMessage}" />
            </li>
        </ul>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <ul>
            <li>
                <a th:href="@{/reservations/me}" th:text="#{label.tr.menu.referBtnMessage}" />
                <div th:utext="#{label.tr.menu.referMessage}" />
            </li>
        </ul>
    </div>
</div>
</body>
</html>
