<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>ツアー予約システム</title>
</head>
<body>
<div layout:fragment="content">
    <div th:text="#{label.tr.login.loginFormMessage}" />
    <form th:action="@{/login/authenticate}" method="post">
        <span th:text="#{label.tr.common.userId}" />
        <input type="text" name="username" /><br/>
        <span th:text="#{label.tr.common.password}" />
        <input type="password" name="password" /><br/>
        <button th:text="#{label.tr.common.login}" />
        <button type="reset" th:text="#{label.tr.common.reset}" />
    </form>
    <div th:text="#{label.tr.login.notCustmerMessage}" />
    <form th:action="@{/customers/create}" method="get">
        <button name="form" th:text="#{label.tr.menu.customerRegisterBtnMessage}" />
    </form>
</div>
</body>
</html>
