<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>ツアー予約システム</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/login/authenticate}" method="post">
        会員ID
        <input type="text" name="username" /><br/>
        パスワード
        <input type="password" name="password" /><br/>
        <button>ログイン</button>
        <button type="reset">リセット</button>
    </form>
</div>
</body>
</html>
